{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
<h1 style='color:green'> Iris Species Prediction</h1>

 <form name='IrisForm'onsubmit="return FormValidation() " method='post' 
 action='SpeciesPrediction' required>
 {% csrf_token %}

<div class='form-group'>

<label  style='color:blue' for='sepal_length'>sepal length(cm):</label><br>
<input class="form-control" type='number' min=0 max=8 step='any' name='sepal_length'></div> 

<div class='form-group'>
<label style='color:blue' for='sepal_width'>sepal width(cm):</label><br>
<input class="form-control " type='number' min=0 max=8 step='any' name='sepal_width'></div> 
 
 <div class='form-group'>
<label style='color:blue' for='petal_length'>petal length(cm):</label><br>
<input class="form-control" type='number'min=0 max=8 step='any' name='petal_length'></div>
 
  <div class='form-group;'>
<label style='color:blue' for='petal_width'>petal width(cm):</label><br>
<input class="form-control" type='number' min=0 max=8 step='any' name='petal_width'></div><br>
<div class="m-2">
        <button type="submit" style="width:500px" class="btn btn-primary">Predict Species</button>
    </div>

 </form>
</div>

{% endblock %}
